@font-face {
    font-family: 'Open Sans';
    src: url("../../../public/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../../public/fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../../public/fonts/OpenSans-Light.ttf");
}